language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10

install:
  - pip install Django==$DJANGO_VERSION
  - python setup.py install

script: python manage.py test tests