{% load i18n djadmin_form %}
<div class="actions">
        {% for field in action_form %}
            {% if field.label %}
                <div class="col s12 m12 l4">
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col s2">
            <button type="submit" class="btn waves-effect waves-light tooltip {{ request.ADMIN_COLOR_THEME }}" title="{% trans "Run the selected action" %}"
                    name="index"
                    value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
        </div>
</div>

