{% load custom i18n  %}
 {% admin_color_theme as ADMIN_COLOR_THEME %}
{% if show %}
    <div class="card-panel">
        <h4 class="{{ ADMIN_COLOR_THEME }}-text">{% trans 'Date Hierarchy' %}</h4>
        <div class="xfull">
            <ul class="toplinks">
                {% if back %}
                    <a href="{{ back.link }}" class="date-back {{ ADMIN_COLOR_THEME }}-text"><blockquote><h5 class="header2">&lsaquo; {{ back.title }}</h5></blockquote></a>
                {% endif %}
                {% for choice in choices %}
                   {% if choice.link %} <a href="{{ choice.link }}" class="date-back {{ ADMIN_COLOR_THEME }}-text"><blockquote><h5 class="header2">{{ choice.title }}</h5></blockquote></a>{% endif %}
                {% endfor %}
            </ul>
            <br class="clear"/>
        </div>
    </div>
{% endif %}
