{% load admin_list %}
{% load i18n custom %}
 {% admin_color_theme as ADMIN_COLOR_THEME %}
<div class="divider"></div>
<ul class="paginator pagination">
    {% if pagination_required %}
        {% for i in page_range %}
            {% if i == cl.page_num %}
             <li class="active {{ ADMIN_COLOR_THEME }}">{% paginator_number cl i %}</li>
                {% else %}
             <li class="waves-effect">{% paginator_number cl i %}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <li class="r">
    {{ cl.result_count }}
    {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}
    {% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class=" btn waves-effect waves-light showall {{ ADMIN_COLOR_THEME }} white-text">{% trans 'Show all' %}</a>{% endif %}
    {% if cl.formset and cl.result_count %}
        <button type="submit" name="_save" class="default btn {{ ADMIN_COLOR_THEME }} waves-effect waves-light" value="{% trans 'Save' %}">{% trans 'Save' %}</button>{% endif %}
</li>
</ul>
<div class="divider"></div>
