{% load i18n admin_static staticfiles %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% block stylesheet %}{% static "admin/css/materialize.min.css" %}{% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom.min.css" %}"/>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    <script src="{% static "admin/js/jquery-1.11.2.min.js" %}" type="text/javascript"></script>
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div class="row">
    <div class="col l4 s12 m8 offset-l4 offset-m2">
        <div id="container" class="card">
            {% if not is_popup %}
                <header id="header" class="page-topbar {% block navbar-fixed %}{% endblock %}">
                    <nav class="{{ request.ADMIN_COLOR_THEME }}">
                        <div class="nav-wrapper">
                            <div class="col s12">
                                {% block branding %}{% endblock %}
                                {% block usertools %}
                                {% endblock %}
                                {% block nav-global %}{% endblock %}
                            </div>
                        </div>
                    </nav>
                </header>

            {% endif %}


            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                <br class="clear"/>
            </div>
        </div>
    </div>
</div>
<!-- END Container -->
<script src="{% static "admin/js/materialize.min.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/plugins.min.js" %}" type="text/javascript"></script>
</body>
</html>
