{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
     <nav class="{{ request.ADMIN_COLOR_THEME }}">
        <div class="nav-wrapper">
            <div class="col s12">
               <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                &rsaquo; {% trans 'Password change' %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<h4>{% trans 'Your password was changed.' %}</h4>
{% endblock %}
