{% extends "registration/base_site.html" %}
{% load i18n %}
{% block bodyclass %}{{ block.super }}login{% endblock %}
{% block header-align %}center{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="reset-form">
        <div class="card-content center">
            <span class="card-title darken-1">{% if title %}{{ title }}{% endif %}</span>
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
        </div>
        <div class="card-action darken-2 center">
            <form method="post">{% csrf_token %}
                {{ form.email.errors }}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-communication-email prefix"></i>
                        {{ form.email }}
                        <label for="id_email">{% trans 'Email address:' %}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit"
                                class="waves-effect waves-light {{ request.ADMIN_COLOR_THEME }}  btn white-text">{% trans 'Reset my password' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
