{% load i18n admin_urls admin_static admin_modify djadmin_form djadmin_inline_form %}
<div class="row">
    <div class="formset-field col s12" data-formset-prefix="{{ element.inline.formset.prefix }}">
        {% part element.inline label %}
            <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
            <li>
            <div class="collapsible-header {{ request.ADMIN_COLOR_THEME }} white-text"><i
                    class="mdi-editor-format-line-spacing white-text"></i>Inline {{ element.inline.opts.verbose_name_plural|capfirst }}
            </div>
            <div class="collapsible-body">
        {% endpart %}
        <table class="table responsive-table">
            <tbody data-formset-body>
            {% for inline_admin_form in element.inline %}
                {% if inline_admin_form.form.prefix ==  element.inline.formset.empty_form.prefix %}
                    <script type="form-template" data-formset-empty-form>{% endif %}

            <tr data-formset-form class="{% cycle 'white' ' grey lighten-4' %}">
                {% part inline_admin_form.form hidden %}
                    {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                    {{ inline_admin_form.fk_field.field }}
                    {% for fieldset in inline_admin_form %}{% for line in fieldset %}{% for field in line %}
                        {% if field.field.is_hidden %} {{ field.field }} {% endif %}
                    {% endfor %}{% endfor %}{% endfor %}
                {% endpart %}

                {% part inline_admin_form.form visible %}
                    {% for fieldset in inline_admin_form %}{% for line in fieldset %}{% for field in line %}
                        {% if not field.field.is_hidden %}
                            <td{% if field.field.name %} class="wide field-{{ field.field.name }}"{% endif %}>
                                {% if field.is_readonly %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            {% if '<img' in field.contents %}
                                                <input type="checkbox" id="test{{ forloop.counter0 }}"
                                                       {% if 'icon-yes' in field.contents %}checked="checked"{% endif %}
                                                       disabled="disabled"/>
                                                <label for="test{{ forloop.counter0 }}">{{ field.field.label|title }}</label>
                                            {% else %}
                                                <input disabled value="{{ field.contents }}" type="text" id="disabled{{ forloop.counter0 }}">
                                                <label for="disabled{{ forloop.counter0 }}" class="active">{{ field.field.label|title }}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% with form=inline_admin_form.form %}{% render field.field %}
                                    {% endrender %}{% endwith %}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}{% endfor %}{% endfor %}
                {% endpart %}
                {% if element.inline.formset.can_delete %}
                    <td class="tabular-delete-td">
                        <div class="hide">{{ inline_admin_form.deletion_field.field }}</div>
                        <button type="button"
                                class="btn waves-effect waves-light tabular-delete {{ request.ADMIN_COLOR_THEME }}"
                                data-formset-delete-button><i class="mdi-content-clear"></i></button>
                    </td>
                {% endif %}
            </tr>

            {% if inline_admin_form.form.prefix ==  element.inline.formset.empty_form.prefix %}</script>{% endif %}

            {% endfor %}
            </tbody>
        </table>
        <div class="input-field col l12">
            <button type="button" class="btn waves-effect waves-light {{ request.ADMIN_COLOR_THEME }}"
                    style="width:100%" data-formset-add>Add New {{ element.inline.opts.verbose_name }}</button>
        </div>
        {{ element.inline.formset.management_form }}
        </div>
        </li>
        </ul>
    </div>
</div>
